.bigBox {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
}

.contentBox {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b5d9f8;
  border-radius: 50px;
}

.errorMsg {
  background-color: #d72727;
  margin-left: 80vh;
  width: 25%;
}

.countrySelection select {
  margin-top: 2vh;
  display: inline-block;
  cursor: pointer;
  margin-right: 3px;
  padding: 7px 10px;
  padding-right: 3px;
  height: 42px;
  border-radius: 5px;
  background: #c5ffe3;
  color: #222222;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  border: 3px solid rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.25s ease;
}

.submit {
  border-radius: 20px;
  background-color: #4caf50;
  margin-top: 30px;
  padding: 14px 40px;
  padding-bottom: 35px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  box-shadow: 0 9px #999;
}
.submit:hover {
  background-color: #3e8e41;
}
.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.backHome {
  margin-top: 30px;
  padding: 14px 40px;
  background-color: #fff9f9;
  color: #1f1e1e;
  border: 2px solid #d72727;
  margin-bottom: 30px;
  padding-bottom: 25px;
}
.backHome:hover {
  background-color: #dc3e3e;
}
.backHome:active {
  background-color: #dc3e3e;
  box-shadow: 0 5px #3e3e3e;
  transform: translateY(4px);
}
